@using FBMS.Core.Constants
@using FBMS.Core.Extensions

@model IEnumerable<FBMS.Web.ApiModels.TransactionDTO>

@{
    ViewData["Title"] = "AllTransactions";
}

<h2>All Transactions - (@Model.Count() records)</h2>

<p>
    <a asp-action="CrawlAllTransactions">Get All Latest Transactions</a>
</p>
<p>
    <a asp-action="DeleteAllTransactions">Delete All Transactions</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.League)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pricing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @{int index = 1;}

        @foreach (var item in Model)
        {
            <tr style="@(item.PricingType == TransactionType.Parlay.ToDescription() ? "color : red" : "")">
                <td>
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.League)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwayTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricingType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pricing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
            index++;
        }
    </tbody>
</table>
