@using FBMS.Core.Extensions;
@using FBMS.Core.Dtos;

@model IEnumerable<MatchDto>

@{
    ViewData["Title"] = "Match Schedule";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">sports_soccer</i>
                    </div>
                    <h4 class="card-title">Match Schedule</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar text-right">
                        <a class="btn btn-info btn-create" asp-controller="MatchScheduling" asp-action="Crawl">
                            <i class="material-icons">system_update_alt</i>
                            Get Latest
                        </a>
                    </div>
                    <div id="transactions-datatable" class="material-datatables">
                        <table id="datatables" class="table table-bordered table-hover dataTable dtr-inline text-center" cellspacing="0" width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                            <thead class="text-primary">
                                <tr role="row">
                                    <th>
                                        ID
                                    </th>
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.Oddsid)
                                        </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.MatchDate)
                                    </th>
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.League)
                                        </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.HomeTeam)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AwayTeam)
                                    </th>
                                    <th>
                                        FT. HDP
                                    </th>
                                    <th>
                                        FT. HDP (B)
                                    </th>
                                    <th>
                                        FT. O/U
                                    </th>
                                    <th>
                                        FT. O/U (B)
                                    </th>
                                    <th>
                                        HT. HDP
                                    </th>
                                    <th>
                                        HT. HDP (B)
                                    </th>
                                    <th>
                                        HT. O/U
                                    </th>
                                    <th>
                                        HT. O/U (B)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    int i = 0;

                                    foreach (var item in Model)
                                    {
                                        i++;
                                        <tr role="row" class="@(item.IsLive ? "table-danger" : "")">
                                            <td>
                                                @i
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.Oddsid)
                                                </td>*@
                                            <td>
                                                @item.MatchDate.ToTimeZoneTime("yyyy-MM-dd HH:mm:ss")
                                            </td>
                                            @*<td style="white-space: normal;">
                                                    @Html.DisplayFor(modelItem => item.League)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HomeTeam)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AwayTeam)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HdpPricing)
                                            </td>
                                            <td>
                                                @if (Math.Abs(item.HomeAmount) > 0)
                                                {
                                                    <div class="badge bg-info">
                                                        <a asp-controller="MatchScheduling" asp-action="Edit" asp-route-matchUrl="@item.GetHomeUrl()">
                                                            @(item.HomeAmount/10)
                                                        </a>
                                                    </div>
                                                }
                                                @if (Math.Abs(item.AwayAmount) > 0)
                                                {
                                                    <div class="badge bg-warning">
                                                        <a asp-controller="MatchScheduling" asp-action="Edit" asp-route-matchUrl="@item.GetAwayUrl()">
                                                            @(item.AwayAmount/10)
                                                        </a>
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OuPricing)
                                            </td>
                                            <td>
                                                @if (Math.Abs(item.OverAmount) > 0)
                                                {
                                                    <div class="badge bg-info">
                                                        <a asp-controller="MatchScheduling" asp-action="Edit" asp-route-matchUrl="@item.GetOverUrl()">
                                                            @(item.OverAmount/10)
                                                        </a>
                                                    </div>
                                                }
                                                @if (Math.Abs(item.UnderAmount) > 0)
                                                {
                                                    <div class="badge bg-warning">
                                                        <a asp-controller="MatchScheduling" asp-action="Edit" asp-route-matchUrl="@item.GetUnderUrl()">
                                                            @(item.UnderAmount/10)
                                                        </a>
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HtHdpPricing)
                                            </td>
                                            <td>
                                                @if (Math.Abs(item.HtHomeAmount) > 0)
                                                {
                                                    <div class="badge bg-info">
                                                        <a asp-controller="MatchScheduling" asp-action="Edit" asp-route-matchUrl="@item.GetHtHomeUrl()">
                                                            @(item.HtHomeAmount / 10)
                                                        </a>
                                                    </div>
                                                }
                                                @if (Math.Abs(item.HtAwayAmount) > 0)
                                                {
                                                    <div class="badge bg-warning">
                                                        <a asp-controller="MatchScheduling" asp-action="Edit" asp-route-matchUrl="@item.GetHtAwayUrl()">
                                                            @(item.HtAwayAmount / 10)
                                                        </a>
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OuPricing)
                                            </td>
                                            <td>
                                                @if (Math.Abs(item.HtOverAmount) > 0)
                                                {
                                                    <div class="badge bg-info">
                                                        <a asp-controller="MatchScheduling" asp-action="Edit" asp-route-matchUrl="@item.GetHtOverUrl()">
                                                            @(item.HtOverAmount / 10)
                                                        </a>
                                                    </div>
                                                }
                                                @if (Math.Abs(item.HtUnderAmount) > 0)
                                                {
                                                    <div class="badge bg-warning">
                                                        <a asp-controller="MatchScheduling" asp-action="Edit" asp-route-matchUrl="@item.GetHtUnderUrl()">
                                                            @(item.HtUnderAmount / 10)
                                                        </a>
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr role="row">
                                        <td colspan="12" class="text-center">
                                            No data found.
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {

            $('#datatables').wrap("<div class='scrolledTable'></div>");
        });
    </script>
}