@using FBMS.Core.Dtos;
@using FBMS.Core.Constants;

@model MemberTransactionTemplateDto


@{
    ViewData["Title"] = "Edit Transaction Template";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="EditTransactionTemplate">
                <input asp-for="MemberId" class="form-control" hidden />
                <div class="card">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">construction</i>
                        </div>
                        <h4 class="card-title">@Model.MemberName</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar text-right">
                            <button class="btn btn-info btn-create" type="submit">
                                Update
                            </button>
                        </div>
                        <div class="material-datatables">
                            <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-no-bordered table-hover dtr-inline" cellspacing="0" width="100%" style="width: 100%;" role="grid">
                                            <thead class="text-primary">
                                                <tr role="row">
                                                    <th>
                                                        Type
                                                    </th>
                                                    <th>
                                                        Amount (%)
                                                    </th>
                                                    <th>
                                                        Is Inverse
                                                    </th>
                                                    <th>
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var index = 0;
                                                }
                                                @foreach (var item in Model.TemplateItems)
                                                {
                                                    @if (item.TransactionType == TransactionType.Parlay)
                                                    {
                                                        @*<tr role="row">
                                                            <td tabindex="0" class="sorting_1">
                                                                @item.Name
                                                            </td>
                                                            <td>
                                                                <span>@item.AmountPercent</span>
                                                            </td>
                                                            <td>
                                                                Unavailable
                                                            </td>
                                                            <td>
                                                                Unavailable
                                                            </td>
                                                        </tr>*@
                                                    }
                                                    else
                                                    {
                                                        <tr role="row">
                                                            <td tabindex="0" class="sorting_1">
                                                                @item.Name
                                                                <input type="hidden" asp-for="@Model.TemplateItems[index].Id" />
                                                            </td>
                                                            <td>
                                                                <input type="number" asp-for="@Model.TemplateItems[index].AmountPercent" class="form-control" style="max-width: 120px;" />
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" asp-for="@Model.TemplateItems[index].IsInverse" />
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" asp-for="@Model.TemplateItems[index].Status" />
                                                            </td>
                                                        </tr>
                                                        index++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </form>
        </div>
    </div>

    <div>
        <a class="back-to" asp-action="Index">Back to List</a>
    </div>

</div>




