
@using FBMS.Core.Dtos;

@model IEnumerable<MemberDto>

@{
    ViewData["Title"] = "Members Management";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">connect_without_contact</i>
                    </div>
                    <h4 class="card-title">Members</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar text-right">
                        <a class="btn btn-outline-success btn-create" asp-controller="Member" asp-action="EnableAll">
                            <i class="material-icons">sensors</i>
                            Enable All Members
                        </a>
                        <a class="btn btn-outline-danger btn-create" asp-controller="Member" asp-action="DisableAll">
                            <i class="material-icons">sensors_off</i>
                            Disable All Members
                        </a>
                        <a class="btn btn-info btn-create" asp-controller="Member" asp-action="Crawl">
                            <i class="material-icons">system_update_alt</i>
                            Crawl
                        </a>
                    </div>
                    <div class="material-datatables">
                        <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline" cellspacing="0" width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                                        <thead class="text-primary">
                                            <tr role="row">
                                                <th>
                                                    ID
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.UserName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Status)
                                                </th>
                                                <th style="width: 100px;">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Any())
                                            {
                                                int i = 0;

                                                foreach (var item in Model)
                                                {
                                                    i++;
                                                    <tr role="row">
                                                        <td>
                                                            @i
                                                        </td>
                                                        <td tabindex="0" class="sorting_1">
                                                            @Html.DisplayFor(modelItem => item.UserName)
                                                        </td>
                                                        <td>
                                                            @if (item.Status)
                                                            {
                                                                <span class="text-success">Active</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger">Inactive</span>
                                                            }
                                                        </td>
                                                        <td class="text-right">
                                                            <div class="dropdown">
                                                                <button class="dropdown-toggle btn btn-default btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Actions
                                                                    <div class="ripple-container"></div>
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; top: 40px; left: 1px; will-change: top, left;">
                                                                    <a class="dropdown-item" asp-controller="Member" asp-action="EditTransactionTemplate" asp-route-id="@item.Id">Transaction Template</a>
                                                                    <a class="dropdown-item" asp-controller="Member" asp-action="Enable" asp-route-id="@item.Id">Enable</a>
                                                                    <a class="dropdown-item" asp-controller="Member" asp-action="Disable" asp-route-id="@item.Id">Disable</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr role="row">
                                                    <td colspan="4" class="text-center">
                                                        No data found.
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
    </div>
</div>